# This is a basic workflow to help you get started with Actions

name: CI/CD

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '15 0 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      # Runs a single command using the runners shell
      - name: Install vuepress
        run: npm install -g vuepress 

      # Runs a set of commands using the runners shell
      - name: Build vuepress project
        run: vuepress build
      - name: copy dist to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HK_SERVER_IP }}
          username: ${{ secrets.HK_SERVER_USER_NAME }}
          key: ${{ secrets.HK_SERVER_PRIVATE_KEY }}
          port: 22
          rm: true
          source: ".vuepress/dist"
          target: "vuepress_dist"
        
